<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>welcome</title>
</head>
<body>
<h1>Send message:</h1>
<!--<div>-->
<!--    <form action="@{/logout}" method="post">-->
<!--        <input type="submit" value="Sign out"/>-->
<!--    </form>-->
<!--</div>-->
<!--<form method="GET" th:action="@{/main}">-->
<!--    <input type="text" th:field="*{filter}">-->
<!--    <button type="submit">Найти</button>-->
<!--</form>-->
 <div>
     <form method="POST" th:action="@{/main}" th:object="${messagePost}">
         <p>Введите сообщение <input type="text" th:field="*{text}" /></p>
         <p>Тэг <input type="text" th:field="*{tag}" /></p>
         <button type="submit">Добавить</button>
     </form>
 </div>

    <div>
    <div>Список сообщений</div>
    <tr th:each="message: ${messages}">
        <td th:utext="${message.text}"></td>
        <td th:utext="${message.tag}"></td>
    </tr>
    </div>
</body>
</html>